.aprovado{
    color: green;
}

.reprovado{
    color: red;
}

.cursando{
    color: #d49b00;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;


    width: 50%;
    // position: absolute;
    // bottom: 10px;
}

.filtro{
    margin-bottom: 1rem;
    
    input{
        margin-left: .5rem;
        width: 50%;
    }
}