.wrapper{
    height: 50px;
    border-radius: .5rem;
    padding: 0 1rem;
    background: var(--input);
    border: 1px solid var(--primary);
    width: 50%;

    input{
        margin-left: 1rem;
    }
}