.wrapper {
    margin-bottom: 1rem;
    width: 100%;
    
    input {
        height: 30px;
        border-radius: 0.5rem;
        padding: 0 1rem;
        background: var(--input);
        border: 1px solid rgb(204, 204, 204);
        width: 50%;
        margin-left: 0.5rem;
    }
}
