//Resetando button
.reset_button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  .reset_button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  .reset_button:active {
    outline: none;
    border: none;
  }
  
  .reset_button:focus {
    outline: 0;
  }

.arrow {
    border: solid var(--primary);
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    transition: .2s;
    cursor: pointer;

    &:hover{
        filter: brightness(0.7);
        transform: scale(.80) rotate(-45deg);
    }
}

.right {
    transform: rotate(-45deg);
    &:hover{
        transform: scale(.80) rotate(-45deg);
        
    }
}

.left {
    transform: rotate(135deg);
    &:hover{
        transform: scale(.80) rotate(135deg);
        
    }
}