.wrapper {
  width: 100%;
  padding: 2rem;

  //Filtro e buttons
  > div:first-child {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    align-items: center;

    //Div do input. Fiz algumas mudanças nela para harmonizar com os botões
    div:first-child {
      margin-bottom: 0;

      input {
        width: 75%;
      }
    }

    button{
      background-color: var(--primary);
    }
  }

  .operations {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    gap: 5px;
  }
}
