.tabs {
  width: 100%;
  border-radius: 8px 8px 0 0;
  overflow-y: hidden;
  overflow-x: auto;
  border: 1px solid rgb(0 0 0 / 5%);
}

.tabHeader {
  display: flex;

  font-weight: bold;

  li {
    background-color: var(--primary);
    color: var(--text);
    padding: 1rem;

    cursor: pointer;
    transition: all 0.3s;

    &:hover:not(.active) {
      filter: brightness(0.9);
      transform: scale(1.05);
    }

    &.active {
      background-color: var(--color-white);
      color: var(--text-black);
    }
  }
}
