.wrapper {
    width: 100%;

    //Filtro e buttons
    > div:first-child {
        display: grid;
        grid-template-columns: 0.6fr 0.4fr;
        align-items: center;

        //Div do input. Fiz algumas mudanças nela para harmonizar com os botões
        div:first-child {
            margin-bottom: 0;

            input {
                width: 75%;
            }
        }

         //Div dos buttons
        div:last-child {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            button {
                width: 35%;
                height: 30px;
            }

            button:first-child {
                background: var(--primary);
            }
            button:last-child {
                background: var(--secondary);
            }
        }
    }

    .operations{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        gap: 5px;
    }
}
