:root{
  --background: rgba(255, 253, 253, 0.945);
  --primary: #4dabf5; //dark #1769aa
  --secondary: #29b6f6;// dark #1c7fac
  --text-secondary:#adadad;
  --link: #e666fb; //dark #9c2caf
  --text: #fff;
  --title: #494d4b;
  --text-black: #494d4b;
  --input: #fff;
  --logo-color: #F5F5F5;
  
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--background);
  color: var(--text-standard);
}

p{
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: none;
}

body, input, button, textarea{
  font: 500 1rem 'Roboto', sans-serif;
  color: var(--text-black)
} 

h2{
  color: var(--title);
}

table{

  width: 100%;
  margin: 2rem 0;
  color: var(--text-secondary);

  th, td{
      padding: .75rem 1rem;
      border-bottom: 1px solid var(--text-secondary);
  }

  th{
      text-transform: uppercase;
      font-size: .75rem;
      text-align: left;
  }

  tbody{
      tr{
         td:nth-child(2){
              color: var(--text-black);
         }
      }
  }

  i{
      cursor: pointer;
  }
}

button{
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  color: var(--text);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  &:hover{
    filter: brightness(.9);
  }
}

.button-like{
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  color: var(--text);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  &:hover{
    filter: brightness(.9);
  }
}

.pagination{
  display: flex;
  align-items: center;
  justify-content: space-between;


  width: 50%;
  // position: absolute;
  // bottom: 10px;
}

@keyframes animeLeft{
  to{
      opacity: 1;
      transform: none;
  }
}

/*Animacao de entrada das pages */
.animeLeft{
 opacity: 0;
 transform: translateX(-50px);
 animation: animeLeft .5s forwards;
}

@keyframes fadeIn{
  to{
    opacity: 1;
    transform: none;
  }
}

.fadeIn{
  opacity: 0;
  animation: fadeIn .5s forwards;
}

@keyframes fadeOut{
  to{
    opacity: 1;
    transform: none;
  }
}

.fadeOut{
  opacity: 0;
  animation: fadeOut .5s forwards;
}