.wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: .60fr 1fr;

    aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        background: var(--primary);
        padding: 2rem;

        img{
            margin-right: 5rem;
        }

        div{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            align-self: flex-end;
            height: 30%;
            p{
                text-align: center;
            }
        }

    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        form{
            width: 50%;
            button{
                background: var(--primary);

                transition: filter .1s;

                &:hover{
                    filter: brightness(0.9)
                }
            }
        }

        span{
           a{
                color: var(--link);
                text-decoration: underline;
                transition: filter .1s;

                &:hover{
                    filter: brightness(0.7)
                }
           }
        }
    }
}

