.wrapper {
    width: 100%;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    //Tem isso tudo para não cortar o fluxograma na impressão
    // section + section {
    //     margin-top: 18rem;
    // }

    section{
        box-shadow: none;
    }

    .disciplinas_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 2rem;

        .fluxograma {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                height: 400px;
                width: 400px;
            }
        }

        .disciplinas {
            width: 100%;
            margin-top: 1rem;

            h2 {
                margin: 1rem 0;
            }

            table {
                width: 100%;
            }
        }
    }
}
