.divider_horizontal{
    width: 75%;
    height: 1px;
    background: linear-gradient(to left, #ffffff , var(--primary) 50%, #ffffff);
    margin: 1rem 0;
    display: inline-block;
}
.divider_vertical{
    height: 50%;
    width: 1px;
    background: linear-gradient(var(--primary), #ffffff 50%, var(--primary));
    display: inline-block;
}