.wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: .7fr .3fr;

    aside{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        background: var(--primary);
        padding: 1rem;

        img{
            height: 500px;
            width: 500px;
            margin-right: 2rem;
        }

        h1{
            font-weight: 700;
        }
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        flex: 1;

        form{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;

            button{
                background: var(--primary);
                transition: filter .1s;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

                &:hover{
                    filter: brightness(0.9)
                }
            }
        }

        span{
            a{
                color: var(--link);
                text-decoration: underline;
                transition: filter .1s;

                &:hover{
                    filter: brightness(0.7)
                }
            }
        }
    }

    /* footer{
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 1rem;
        
        background: var(--primary);
    } */
}

