.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  border-radius: 8px;

  h2 {
    width: 100%;
    text-align: left;
  }

  .fluxograma {
    svg {
      max-width: 100%;
    }
  }

  .disciplinas {
    width: 100%;
    margin-top: 1rem;

    h2 {
      margin: 1rem 0;
    }

    table {
      width: 100%;
    }
  }
}
